<!--公共顶部开始-->
<div class="topsbar">
     <div class="infobor">
          <!--智能搜索-->
          <div class="searchbor">
              <i class="pbiconfont">&#xe610;</i>
              <input type="text" class="search" placeholder="智能搜索" />
          </div>
          <span class="lines"></span>
          <!--个人信息-->
          <div class="infosbor">
               <div class="infosbtn">
                    <div class="infosimages">
                         <img src="http://www.w3chtml.com/uploadfile/201201/19/6011443968.jpg" />
                    </div>
                    <div class="infosname">Admin</div>
                    <i class="pbiconfont">&#xe60f;</i>
               </div>
               <div class="infoslist">
                    <div class="bor">
                         <div class="infoimg">
                              <img src="http://www.w3chtml.com/uploadfile/201201/19/6011443968.jpg" />
                         </div>
                         <div class="infomation">
                              <div class="infomation_name omit">Viven asdf sdfdsfsf</div>
                              <div class="infomation_bor omit">
                                   <div>部门 : </div><span class="omit">系统支持组</span>
                              </div>
                              <div class="infomation_bor">
                                   <div>职位 : </div><span class="omit">UI设计</span>
                              </div>
                              <div class="infomation_bor">
                                   <div>电话 : </div><span class="omit">123456789</span>
                              </div>
                              <div class="infomation_bor">
                                   <div>邮箱 : </div><span class="omit">123456789@qq.com</span>
                              </div>
                         </div>
                    </div>
                    <div class="progressbor">
                         <div class="points">
                              <div>个人积分 : <span>155</span></div>
                              <div class="progresbg">
                                   <div class="progresactive"></div>
                              </div>
                         </div>
                         <div class="skills">
                              <div>技能等级 : Lv<span>3</span></div>
                              <div class="progresbg">
                                   <div class="progresactive"></div>
                              </div>
                         </div>
                    </div>
                    <div class="btn">
                         <a href="###">个人设置</a>
                    </div>
                    <div class="btn nobor">
                         <a href="###">退出账号</a>
                    </div>
               </div>
          </div>
          <!--设置-->
          <div class="setupbor">
               <i class="pbiconfont">&#xe60a;</i>
          </div>
     </div>
</div>
<!--公共顶部结束-->