<!--公共左部开始-->
<div class="leftsbar">
	 <!--logo-->
     <div class="logo">
          <div class="logomax"></div>
          <div class="logomin"></div>
     </div>
     <!--切换按钮-->
     <div class="switchbor">
          <div class="switchbtn pointer">
               <i class="pbiconfont">&#xe60d;</i>
          </div>
          <div class="menu-up">
               <i class="pbiconfont">&#xe60f;</i>
          </div>
          <div class="menu-down">
               <i class="pbiconfont">&#xe60f;</i>
          </div>
     </div>
     <!--公共菜单-->
     <div class="menus menusscroll">
          <ul>
              <!--工作台-->
              <li>
			            <div class="menu-title">
			                <i class="pbiconfont">&#xe600;</i>
			                <a ui-sref="main.index" href="javascript:void(0);">
			                    <div class="libor">
			                        <span class="name f16">工作台</span> 
			                    </div>
			                </a>
			            </div>
			        </li>
              <!--任务-->
			        <li>
			            <div class="menu-title">
			                <i class="pbiconfont">&#xe608;</i>
			                <a href="javascript:void(0);">
			                    <div class="libor">
			                        <span class="name f16">任务</span> 
			                    </div>
			                </a>
			                <i class="pbiconfont addhref">&#xe605;</i>
			            </div>
			            <ul>
			                <li><a ui-sref="main.task.myTask" href="#"><span></span>我接受的任务</a></li>
			                <li><a ui-sref="main.task.release" href="#"><span></span>我发布的任务</a></li>
			                <li><a ui-sref="main.task.offer" href="#"><span></span>悬赏专区</a></li>
                      <li><a ui-sref="main.task.create" href="#"><span></span>创建任务</a></li>
			            </ul>
			        </li>
              <!--项目-->
			        <li>
			            <div class="menu-title">
			                <i class="pbiconfont">&#xe60b;</i>
			                <a href="javascript:void(0);">
			                <div class="libor">
			                    <span class="name f16">项目</span>
			                </div>
			                </a>
			                <i class="pbiconfont addhref">&#xe605;</i>
			            </div>
			            <ul>
			                <li><a href="#"><span></span>我创建的项目</a></li>
			                <li><a href="#"><span></span>我参与的项目</a></li>
			                <li><a href="#"><span></span>创建项目</a></li>
			            </ul>
			        </li>
              <!--考勤-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe607;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">考勤</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>查询</a></li>
                      <li><a href="#"><span></span>查询所有人</a></li>
                      <li><a href="#"><span></span>工作日设置</a></li>
                  </ul>
              </li>
              <!--公告-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe603;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">公告</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>未读</a></li>
                      <li><a href="#"><span></span>已读</a></li> 
                  </ul>
              </li>
              <!--申请-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe609;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">申请</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>考勤类申请</a></li>
                      <li><a href="#"><span></span>其他申请</a></li> 
                      <li><a href="#"><span></span>查看所有</a></li> 
                  </ul>
              </li>
              <!--会议室-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe604;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">会议室</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>会议室预订</a></li>
                      <li><a href="#"><span></span>我的预订</a></li> 
                  </ul>
              </li>
              <!--同事-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe60c;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">同事</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>全公司</a></li>
                      <li><a href="#"><span></span>我的团队</a></li> 
                  </ul>
              </li>
              <!--工作报告-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe602;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">工作报告</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>工作报告</a></li>
                      <li><a href="#"><span></span>工作报告</a></li> 
                  </ul>
              </li>
              <!--WIKI-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe601;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">WIKI</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>游戏词条</a></li>
                      <li><a href="#"><span></span>系统词条</a></li> 
                  </ul>
              </li>
              <!--系统管理-->
              <li>
                  <div class="menu-title">
                      <i class="pbiconfont">&#xe60a;</i>
                      <a href="javascript:void(0);">
                      <div class="libor">
                          <span class="name f16">系统管理</span>
                      </div>
                      </a>
                      <i class="pbiconfont addhref">&#xe605;</i>
                  </div>
                  <ul>
                      <li><a href="#"><span></span>休假管理</a></li>
                      <li><a href="#"><span></span>技能积分</a></li> 
                      <li><a href="#"><span></span>流程管理</a></li>
                      <li><a href="#"><span></span>wiki管理</a></li> 
                      <li><a href="#"><span></span>权限管理</a></li>
                  </ul>
              </li>
          </ul>	
     </div>

</div>
<!--公共左部开始-->