<html>
<head>
    <title></title>
    <style>
        body{
            background: #ECECEC url(images/aboutwe.png) center center no-repeat;
            height:100vh;
            width:100vw;
        }
    </style>
</head>
<body>
<div class="login-header">
    <ul>
        <li><a href="javascript:void(0)" ui-sref="help">帮助</a></li>
        <li><a href="javascript:void(0)" ui-sref="mobile">移动端</a></li>
        <li><a href="javascript:void(0)" ui-sref="aboutwe" class="active">关于我们</a></li>
        <li><a href="javascript:void(0)" ui-sref="login">登录</a></li>
        <li class="OAsys">OA系统</li>
    </ul>
</div>
<!--<div class="aboutwe">-->
    <!--<img src="images/aboutwe.png" alt=""/>-->
<!--</div>-->
<!--<div class="copyright">-->
    <!--<p>Copyright© 2001-2016 supernano All Rights Reserved.</p>-->
<!--</div>-->
</body>
</html>