<html>
<head>
    <title></title>
</head>
<body >
<div style="background: #ECECEC;width:100%;height:100%">
    <div class="login-header">
        <ul>
            <li><a href="javascript:void(0)" ui-sref="help" class="active">帮助</a></li>
            <li><a href="javascript:void(0)" ui-sref="mobile">移动端</a></li>
            <li><a href="javascript:void(0)" ui-sref="aboutwe">关于我们</a></li>
            <li><a href="javascript:void(0)" ui-sref="login">登录</a></li>
            <li class="OAsys">OA系统</li>
        </ul>
    </div>
    <div class="help">
        <div class="help-tab">
            <h2 class="cgray f16">常见问题</h2>
            <p data-target="task"><a href="javascript:void(0)" class="curTab">如何创建任务？</a></p>
            <p data-target="pro"><a href="javascript:void(0)">如何创建项目？</a></p>
            <p data-target="apply"><a href="javascript:void(0)">如何提交申请？</a></p>
            <p data-target="applyProgress"><a href="javascript:void(0)">如何查看申请审核进度？</a></p>
            <p data-target="form"><a href="javascript:void(0)">如何创建新的表单？</a></p>
            <p data-target="reserve"><a href="javascript:void(0)">如何预定会议室？</a></p>
            <h2><a href="/static/manual/NanoOA操作手册.doc" class="cblue f16 tdu">NanoOA操作手册下载</a></h2>
        </div>
        <div class="help-content minscroll">
            <div id="task" class="db">
                <h1 class="f18">如何创建任务？</h1>
                <p>从左侧导航栏点击任务——创建任务进入任务创建页面，并填写相应信息。</p>
                <p><img class="img" src="images/createTask.png" alt=""/></p>
                <pre>
任务的类型分为：
指派任务：直接分配给某个人（可以是自己）的任务。
  必填属性：任务级别、所属项目、任务标题、任务时间、分配人
  选填属性：任务描述、附件、任务技能、悬赏积分
悬赏任务：悬赏范围内（可以是一个或多个部门）成员可认领的任务。
  必填属性：任务级别、任务标题、任务时间、悬赏范围
  选填属性：任务描述、附件、任务技能、悬赏积分
【注意】指派任务必须关联项目，若用户需创建个人任务，可先在“创建项目”中建立只属于个人的私密项目后，再将个人任务关联至该私密项目。
        但指派给自己的任务在审核时没有评分操作。
【注意】指派任务的执行时间范围必须在其关联的项目时间范围内（含延期），否则无法发布成功。
                </pre>
            </div>

            <div id="pro" class="dn">
                <h1 class="f18">如何创建项目？</h1>
                <p>从左侧导航栏点击项目——创建项目进入项目创建页面，并填写相应信息。</p>
                <p><img class="img" src="images/createPro.png" alt=""/></p>
                <pre>
用户在此页面执行创建项目操作，项目创建成功后将在当前用户的“我创建的项目”页面和其他项目成员的“我参与的项目”页面中展示。
若项目设置为公开，则全公司非项目成员都能在“他人公开项目”中查看，若项目设置为部门公开，则当前用户所在部门中非该项目组成员
可在“他人公开项目”中查看。
必填属性：项目名称、公开状态、开始和结束时间、项目成员。
【注】项目公开状态说明：公开（全公司人员均可查看该项目内容）、团队内公开（除项目创建者和参与者可查看该项目内容外，
创建项目者同属的团队成员均可查看该项目内容）、私密（只有创建者和参与者可查看该项目内容）。
                </pre>
            </div>

            <div id="apply" class="dn">
                <h1 class="f18">如何提交申请？</h1>
                <p>从左侧导航栏点击申请——申请进入提交申请页面，选择需提交的申请单填写并提交。</p>
                <p><img class="img" src="images/apply.png" alt=""/></p>
                <pre>
提交后，申请将进入流程流转，流转至第一级审批人处。当前用户可在“我的申请”页面管理或查看该已提交的申请。
                </pre>
            </div>

            <div id="applyProgress" class="dn">
                <h1 class="f18">如何查看审核进度？</h1>
                <p>从左侧导航栏点击申请——我的申请查看提交过的申请单。</p>
                <p><img class="img" src="images/myapply.png" alt=""/></p>
                <pre>
此页面供员工查看自己已提交的申请。包括撤回未审批申请，编辑或删除已撤回申请、查看申请流转进度。
员工可按照审批单状态（待审批、已审批、已拒绝、已撤回）、审批单名称、申请时间查询提交的申请。
待审批的申请点击“撤回”按钮将撤回该申请，撤回后，审批人的待审批表单中将不再有该申请，申请撤回后用户可再次编辑或删除该申请。
待审批的申请点击“催办”按钮，系统将发送一封催办邮件给当前处理人提醒其处理该审批单。
已审批的申请点击“查看进度”按钮可查看该申请的审批进度。
已拒绝的申请可以再次编辑提交或删除，提交后将重新按该审批单的流程流转。
【注意】加班或请假申请流转结束后，系统将自动结算考勤和假期信息，请谨慎填写和提交。
                </pre>
            </div>

            <div id="form" class="dn">
                <h1 class="f18">如何创建新表单？</h1>
                <p>系统管理员或相关负责人（需配置权限）可在此页面配置或管理表单和流程。具体包括：</p>
                <pre>
1、新建表单
点击 “新增”开始新建表单。用户可选择沿用已有表单的结构（选择现有表单模板）或自定义表单结构（从组件库中新配表单）。
表单配置完成后将进入流程配置步骤。
                </pre>
                <p><img class="img" src="images/examin.png" alt=""/></p>
                <p><img class="img" src="images/form.png" alt=""/></p>
                <pre>
【注意】为方便用户提交申请，明确清晰填写表单标题、组件标题和字段说明。
【注意】表单必须有至少一项为必填项。
2、配置流程
                </pre>
                <p><img class="img" src="images/set.png" alt=""/></p>
                <pre>
在此页面，员工可配置表单的适用范围和流转流程。
1、发起次数限制：若需限制员工提交表单的数量，如：员工每年最多提交6次带薪病假申请，可在此设置发起次数限制。
2、流程适用范围：不同部门不同职位的员工提交同一申请表单时，流转流程有所不同，可在此通过配置适用范围分别配
置不同流程员工或部门成员的流转流程。员工的“申请”页面中仅显示其适用范围内的申请。
3、判断条件：为适用于在不同的情况下，同一员工提交同一表单的流转流程有所不同的情况，如：请假超过3天，流程需
流转至HR负责人，不超过3天仅需流转至部门BP。可通过配置判断条件分别配置不同情况下的流转流程。
4、审批人：可在此配置流转流程中的审批人。
【警告】流程配置将决定员工提交申请单的审批流向，请相关配置人员正确配置。否则会造成审批单无法流转的情况。
【注意】若不同适用范围或不同判断条件的流转流程差异不大，可点击“复制”按钮复制已配置的流程再做修改。
【注意】表单配置后将直接被启用，表单配置后将不能修改结构，只能修改流程。
                </pre>
            </div>

            <div id="reserve" class="dn">
                <h1 class="f18">如何预定会议室？</h1>
                <p>从左侧导航栏点击申请——我的申请查看提交过的申请单。</p>
                <p><img class="img" src="images/reserves.png" alt=""/></p>
                <pre>
在此页面用户可执行会议室预定或取消操作。
1、用户通过按住鼠标滑动选择一段连续的时间，鼠标松开后会弹出预定确认窗口，用户可选择填写会议名称、会议说明和添
加与会人员，若填写，将会发送会议通知邮件和APP推送给与会人员。
2、点击我预定的会议时块（蓝色），执行取消会议操作，若预定时填写了会议信息，也将发送会议取消通知邮件和APP推送给
与会人员。
3、鼠标移入已预订的时块（灰色）可以查看预定人信息。
【注意】不能预定过去的时间段，也不能取消已过期的我预定的会议。
【注意】仅可预定8日内（含当天）的会议。
                </pre>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright© 2001-2016 supernano All Rights Reserved.</p>
    </div>
</div>

</body>
</html>