<html>
<head>
    <style>
        .jumpbg{
            position: absolute;
            width: 90%;
            height: 110px;
            top: 100px;
            left: 5%;
            background: url(images/jumpicon.jpg) no-repeat center top;
            color: #999;
            text-align: center;
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="innerHeight pb-padding10 mInnerHeight " style="padding-top:0px; background:#fff;">

    <div class="jumpbg">
        <span>您的账号已在其他地方登录，<br>请重新登录后使用该功能。</span>
    </div>

</div>
</body>
</html>