<!--顶部切换-->
<div class="w100 nav_jurisdictionList_box">
	<em class="nav_jurisdictionList">
	    <span isperm pcode="SystemScorePersonal" class="selected"><a ui-sref="main.system.personalNanoCoinList">个人纳米币管理</a></span>
	    <span isperm pcode="SystemScoreGroup"><a ui-sref="main.system.departmentNanoCoinList">部门纳米币管理</a></span>
	    <span isperm pcode="SystemScoreSet"><a ui-sref="main.system.personalNanoCoinSet">纳米币设置</a></span>
   </em>
</div>
<!--顶部搜索-->
<div class="w100">
	<div class="pbsearchbor">

		<!--<div class="inblock minscroll porela nanoList" ng-mouseleave="score.isOrgWin=false">
            <input class="submitter" type="text" placeholder="部门" ng-keyup="score.searchOrgInfo();" data-ng-model="score.search_org_name"/>
            <i class="pbiconfont poabso down-arrow" data-ng-click="score.getAllOrgInfo()">&#xe60f;</i>
            <ul class="system_department poabso block f16" ng-show="score.isOrgWin">
				<li ng-repeat="item in score.orgInfo" ng-click="score.selectOrg(item)"><a href="javascript:void(0);" class="omit  ng-binding">{{item.org_name}}</a></li>
            </ul>
        </div>-->
        <depart-combo handle-select="score.selectOrg(depart)"></depart-combo>
		<div class="searchbor porela inblock query_btn">
			<i class="pbiconfont poabso down_btn">&#xe610;</i>
			<input type="text" class="inputtext noborder searchinputtext fl" placeholder="请输入员工姓名搜索" maxlength="10" data-ng-model="score_param.uname"/>
		</div>
		<div class="inblock query_btn">
			<button class="btn blue fl border_none" data-ng-click="score.searchButton()">查询</button>
		</div>
		<div class="inblock query_btn">
			<button class="btn blue fl border_none" data-ng-click="score.addBatch()" isperm pcode="SystemScorePersonal">批量调整</button>
		</div>
	</div>
</div>

<div class="system_list clear">
	<table class="personalNano_table">
		<thead class="tablehc">
			<tr>
				<td><label><input type="checkbox" ng-click="score.selectAll($event)">姓名</label></td>
				<td>所属部门</td>
				<td>纳米币</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody class="system_list_status">
			<tr ng-repeat="item in score.scoreList">
				<td><label><input type="checkbox" uid="{{item.u_id}}">{{item.real_name}}</label></td>
				<td>{{item.org_info}}</td>
				<td>{{item.points}}</td>
				<td>
					<a href="javascript:;" class="edit_style" data-ng-click="score.addSingle(item.u_id)" isperm pcode="SystemScorePersonal">调整</a>
					<a ui-sref="main.system.personalNanoCoinList.examine_nano_details({search_id:item.u_id,type:1})" href="javascript:;" class="edit_style">查看详情</a>
				</td>
			</tr>
		</tbody>
	</table>
	<!--调整个人纳米币-->
	<div class="adjustment_personalNano ng-scope ng-hide" style="display: block" ng-show="score.isAdjustWin">
		<div class="header f18">提示</div>
		<div class="main">
			<div class="adjustment_box">
				<div class="coin_adjustment">
					<label>币值调整：</label>
					<a data-ng-click="score.decreasePoint()">
						<img src="../../../../images/reduce_btn.png" />
					</a>
					<input type="text" value="0" data-ng-model="score_param.points"/>
					<a data-ng-click="score.increasePoint()">
						<img src="../../../../images/increase_btn.png" />
					</a>
				</div>
				<div class="adjustment_cause">
					<label>调整原因：<textarea maxlength="40" placeholder="最多输入40个字" rows="4" data-ng-model="score_param.reason"></textarea></label>
				</div>
			</div>
			<div class="jurisdiction_del_btn">
				<button class="btns" data-ng-click="score.adjust()">确定</button>
				<button class="btns gray" data-ng-click="score.hide()">取消</button>
			</div>
		</div>
	</div>
	<!--分页开始-->
	<div paging page-object="page" click-function="page_fun"></div>
	<!--分页结束-->
</div>
<!--提示框-->
<notice message="score.noticeService.message" type="score.noticeService.notice_type" gourl="score.noticeService.gourl"></notice>
	
<!--空数据-->
<div class="empty-icon" ng-if=" score.scoreList.length==0">
    <i class="iconfont">&#xe618;</i>
    <p>暂时没有相关数据</p>
</div>