<!--员工管理列表页-->
<div ui-view="jurisdictionList"></div>
<!--添加员工-->
<div ui-view="add_staff"></div>
<!--权限设置-->
<div ui-view="jurisdiction_setting"></div>

<!--控制器动作列表页-->
<div ui-view="controllerList"></div>

<!--角色管理列表页-->
<div ui-view="roleList"></div>
<!--添加角色-->
<div ui-view="add_role"></div>
<!--编辑角色-->
<div ui-view="edit_role"></div>

<!--技能管理列表页-->
<div ui-view="skillList"></div>
<!--等级设置列表页-->
<div ui-view="gradeSettingList"></div>

<!--个人纳米币管理列表页-->
<div ui-view="personalNanoCoinList"></div>

<!--部门纳米币管理列表页-->
<div ui-view="departmentNanoCoinList"></div>

<!--纳米币管理查看详情-->
<div ui-view="examine_nano_details"></div>

<!--纳米币设置-->
<div ui-view="personalNanoCoinSet"></div>

<!--工作日设置-->
<div ui-view="workdaySet"></div>