<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">


 
<div ui-view="apply_demoeditform"></div>
<div ui-view="apply_demoform"></div>
<div ui-view="apply_demo"></div>
<div ui-view="apply_flow"></div>
<div ui-view="apply_show"></div>
<div ui-view="apply_demoshowform"></div>
<div ui-view="apply_mine"></div>
<div ui-view="apply_rankApply"></div>
<div ui-view="apply_drainPunchApply"></div>
<div ui-view="apply_application"></div>
<div ui-view="apply_manage"></div>
<div ui-view="apply_agent"></div>
<div ui-view="leave_apply"></div>
<div ui-view="overtime_apply"></div>
<div ui-view="apply_flexibleWork"></div>
<div ui-view="apply_createModel"></div>
