<!--请假申请创建开始-->
<div class="ui-widget-winbor uiwinabs of block pfixed isrequired">
    <div class="toptitle">
        请假申请
    </div>
    <div class="scrollbor pfixed">

        <div class="borderbor of porela xlefttitlebor hauto" >
            <i class="pbiconfont poabso mt2">&#xe611;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="fl ml23">请假类型：</span>
            <select class="fl" ng-model="apply_param.type" ng-click="apply.getLeaveApplyTypeSum()">
                <option selected="" value="">请选择</option>
                <option value="{{itemtype.statuskey}}" ng-repeat="itemtype in apply.leaveType">{{itemtype.statusstr}}</option>
            </select>
            <div class="fl ml10 mt5" ng-if="apply_param.type==1">
                当前可用年假 <span>{{apply.typeSum.sum1}}</span> 天，顺延年假 <span>{{apply.typeSum.sum2}}</span> 天，共 <span>{{apply.typeSum.sum3}}</span> 天
            </div>
            <div class="fl ml10 mt5" ng-if="apply_param.type==2">
                当前可用调休 <span>{{apply.typeSum.sum1}}</span> 天
            </div>
            <div class="fl ml10 mt5" ng-if="apply_param.type==3">
                本年度带薪病假还剩 <span>{{apply.typeSum.sum1}}</span> 天
            </div>
        </div>

        <div class="borderbor porela timesbor " style="height:128px;">
            <i class="pbiconfont inblock">&#xe614;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="fl ml23">休假时间 :</span>
            
            <div class="porela inblock fl w100">

                <input type="text" name="leave_datestart" id="leave_datestart" placeholder="" data-toggle="dropdown" myform-date-format class="inputtext timesw noborder" ng-model="apply_param.begin_time" onfocus="this.blur()" readonly="readonly" aria-expanded="false" >
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="apply_param.begin_time" data-datetimepicker-config="{ dropdownSelector: '#leave_datestart', startView: 'day', minView: 'minute' }"></datetimepicker>
                </ul>

            </div>
            <span class="fl w100">——</span>
            <div class="porela inblock fl w100">

                <input type="text" name="leave_dateend" id="leave_dateend" placeholder="" data-toggle="dropdown" myform-date-format class="inputtext timesw noborder" ng-model="apply_param.end_time" onfocus="this.blur()" readonly="readonly" aria-expanded="false">
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="apply_param.end_time"  data-datetimepicker-config="{ dropdownSelector: '#leave_dateend', startView: 'day', minView: 'minute' }"></datetimepicker>
                </ul>

            </div>

            <span class="clear">&nbsp;</span>
        </div>

        <div class="borderbor of porela xlefttitlebor hauto">
            <i class="pbiconfont poabso mt2">&#xe611;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="fl ml23">合计时长：</span>
            <input type="text" class="inputtext timesw noborder" placeholder="请输入天数" style="width:100px;" ng-model="apply_param.leave_sum">
            天
        </div>

        <div class="borderbor porela maxtextareasbor">
            <i class="pbiconfont poabso mt2">&#xe63c;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="ml23">详细说明：</span>
            <textarea name="textarea" id="textarea" ng-model="apply_param.content" class="pb_textareas noborder" placeholder="请输入详细说明(最多输入100个字)"></textarea>
        </div>

        <div class="borderbor porela pbfilebor hauto nomb">
            <i class="pbiconfont poabso mt2">&#xe619;</i>
            <span class="ml23 wdspacing2 poabso">附 件：</span>
            <ul style=" width: 100%;">
                <li class="porela" ng-repeat='itematt in att'>
                    <i class="poabso icon-{{itematt.file_type}}"></i>
                    <div class="filename fl omit"><a target="_blank" href="{{apply.file_root}}/{{itematt.file_path}}/{{itematt.real_name}}">{{itematt.file_name}}</a></div>
                    <!-- <div class="filesize fl omit">{{itematt.file_size}}kb</div> -->
                    <!--<div class="filesize fl omit">{{itematt.file_size/1024 | number:2}}K</div>-->
                    <div class="del fr" ng-click="apply.delFileBtn($index)">删除</div>
                </li>
            </ul>
            <div class="btn blue fr poabso"><upload-modal upload-attrs="addAttBtn" att-object="att">添加附件</upload-modal></div>
        </div>

    </div>
    <div class="btnbor poabso nobor">
        <div class="btnsbor">
            <button class="btns " ng-click="apply.saveLeaveApplyBtn()">提交</button>
            <!-- <button class="btns gray" ng-click="apply.cancelBtn()">取消</button> -->
        </div>
    </div>
</div>
<!--请假申请创建结束-->