<!-- 01申请a-我的审批g-弹窗（通用同意）开始 -->
<div class="ui-widget-winbor refusewin of" ng-show="leave_apply.isShowVieryWin">
    <div class="toptitle">
        同意
    </div>
    <div class="tipstitle pbc">
        请填写同意原因：
    </div>
    <textarea ng-model="leave_apply.comment" class="noborder fl" placeholder="非必填，最多输入50个字"></textarea>
    <div class="btnbor poabso nobor" id="bgf">
        <div class="btnsbor">
            <button class="btns" ng-click="leave_apply.verifyBtn()">同意</button>
            <button class="btns gray" ng-click="leave_apply.isShowVieryWin=false">取消</button>
        </div>
    </div>
</div>
<!-- 01申请a-我的审批g-弹窗（通用同意）结束 -->