<div class="ui-widget-winbor uiwinabs of pfixed formzindex block" ng-show="apply.overtimeShowWin">
    <div class="toptitle porela">
        加班申请
        <i class="pbiconfont poabso closebtn pointer" ng-click="apply.overtimeShowWin=false;apply.customHideWin();">&#xe61d;</i>
    </div>
    <div class="scrollbor poabso">

        <div class="borderbor of porela xlefttitlebor">
            <i class="pbiconfont poabso mt2">&#xe611;</i>
            <span class="fl ml23">加班类型：</span>
            <span class="sp" ng-if="apply.detail.data.type==1">工作日加班</span>
            <span class="sp" ng-if="apply.detail.data.type==2">节假日加班</span>
        </div>

        <div class="borderbor porela timesbor">
            <i class="pbiconfont inblock">&#xe614;</i>
            <span class="fl ml23">加班时间 :</span>
            <div class="porela inblock fl pbc">
                {{apply.detail.data.begin_time}}
            </div>
            <span class="fl">——</span>
            <div class="porela inblock fl pbc">
                {{apply.detail.data.end_time}}
            </div>
            <span class="clear">&nbsp;</span>
        </div>

        <div class="borderbor porela maxtextareasbor">
            <i class="pbiconfont poabso mt2">&#xe63c;</i>
            <span class="ml23">工作说明：</span>
                <textarea name="textarea" id="textarea" class="pb_textareas noborder" disabled ng-bind="apply.detail.data.note"></textarea>
        </div>

        <div class="borderbor porela">
            <i class="pbiconfont poabso mt2">&#xe616;</i>
            <span class="ml23 wdspacing">申 请 人：</span>
            <div class="imgbor40 poabso">
                <div class="imgbor fl">
                    <img ng-src="{{apply.detail.head_img}}">
                </div>
                <div class="name omit fl pbc">{{apply.detail.applyer_name}}</div>
            </div>
        </div>

        <!--当前审批人-->
        <div class="borderbor porela" ng-if="apply.detail.handler_name">
            <i class="pbiconfont poabso mt2">&#xe616;</i>
            <span class="ml23 wdspacing">当前审批人：</span>
            <div class="imgbor40 poabso">
                <div class="imgbor fl">
                    <img ng-src="{{apply.detail.handler_head_img}}">
                </div>
                <div class="name omit fl pbc">{{apply.detail.handler_name}}</div>
            </div>
        </div>

        <div class="borderbor of porela xlefttitlebor ">
            <i class="pbiconfont poabso mt2">&#xe614;</i>
            <span class="fl ml23">申请时间：</span>
            <span class="sp">{{apply.detail.create_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>

        <div class="borderbor porela nomb applyprogress hauto" ng-if="apply.detail.verifyRecorders.length>0">
            <div class="title poabso">
                <i class="pbiconfont poabso mt2">&#xe626;</i>
                <span class="ml23 poabso wdspacing2">申请进度</span>
            </div>

            <ul>
                <!--同意-->
                <li class="porela" ng-repeat="itemVerRed in apply.detail.verifyRecorders">
                    <div class="imgbor40 fl">
                        <div class="imgbor fl">
                            <img ng-src="{{itemVerRed.head_img}}">
                        </div>
                        <div class="name omit fl pbc">{{itemVerRed.real_name}}</div>
                    </div>
                    <div class="agree fl center" ng-if="itemVerRed.status == 1">同意</div>
                    <div class="agree fl center red" ng-if="itemVerRed.status == 2">拒绝</div>
                    <div class="time fl pbcd1">{{itemVerRed.reply_time}}</div>
                    <div class="porela jjbor">
                        <span class="break">{{itemVerRed.comment}}</span>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <div class="btnbor poabso nobor" ng-if="apply.detail.current_handler == 1 && isAgent">
        <div class="btnsbor">
            <button class="btns " ng-click="leave_apply.showAgreeWin()">同意</button>
            <button class="btns gray" ng-click="leave_apply.openRefuseWin()">拒绝</button>
        </div>
    </div>
    <div class="btnbor poabso nobor" ng-if="apply.detail.is_applyer == 1 && isMine">
        <div class="btnsbor">
            <button ng-if="apply.detail.status == 0" ng-click="apply.revoke(apply.detail.apply_id)" class="btns">撤回</button>
            <button ng-if="apply.detail.status == 0 && apply.detail.is_press == 0" ng-click="apply.press(apply.detail.apply_id)" class="btns ">催办</button>
            <button ng-if="apply.detail.status == 3 || apply.detail.status == 2" ng-click="apply.editApply(apply.detail.apply_id,apply.detail.model_id)" class="btns">编辑</button>
            <button ng-if="apply.detail.status == 3 || apply.detail.status == 2" ng-click="apply.delApply(apply.detail.apply_id)" class="btns gray">删除</button>
        </div>
    </div>
</div>

<!-- 请假申请最后一步同意显示窗口 开始 -->
<div class="ui-widget-winbor refusewin agreeAddwork  block  " ng-if="apply.isOvertimeLastStepWin">
    <div class="toptitle">
        同意
    </div>
    <div class="tipstitle pbc mt30">
        打卡时间：
        <div class="selecttimebor porela inblock">
            <input type="text" name="apply_searchtime2" id="searchstarttime2" placeholder="请输入开始时间"  myform-date-format class="inputtext noborder searchinputtext" ng-model="apply_approve.begin_time" onfocus="this.blur()" readonly="readonly" style="    width: 140px;" >
            <!-- <ul class="dropdown-menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="apply_approve.begin_time" data-datetimepicker-config="{ dropdownSelector: '#searchstarttime2', startView: 'day', minView: 'minute' }"></datetimepicker>
            </ul> -->
        </div>
        <span class="timeline inblock">—</span>
        <div class="selecttimebor porela inblock">
            <input type="text" name="searchendtime2" id="searchendtime2" placeholder="请输入结束时间" myform-date-format class="inputtext noborder searchinputtext" ng-model="apply_approve.end_time" onfocus="this.blur()" readonly="readonly" style="    width: 140px;" >
            <!-- <ul class="dropdown-menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="apply_approve.end_time" data-datetimepicker-config="{ dropdownSelector: '#searchendtime2', startView: 'day', minView: 'minute' }"></datetimepicker>
            </ul> -->
        </div>

    </div>
    <div class="tipstitle pbc mt30">
        合计时长：
        <input type="text" class="inputtext noborder totallength" ng-model="apply_approve.real_hours"/> 小时
    </div>
    <div class="btnbor poabso nobor" id="bgf">
        <div class="btnsbor">
            <button class="btns" ng-click="leave_apply.verifyBtn()">同意</button>
            <button class="btns gray" ng-click="apply.isOvertimeLastStepWin=false">取消</button>
        </div>
    </div>
</div>
<!-- 请假申请最后一步同意显示窗口 结束 -->