<style type="text/css">
    .overtime-timeWrap {
        margin: 10px 0 0 0px;
    }

    .overtime-timeWrap > input[type=time] {
        border: 1px solid #e1e1e1;
        padding: 2px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }

    .overtime-timeWrap > input[type=text],
    .overtime-timeWrap > input[type=time] {
        margin: 0 !important;
        width: 90px;
        height: 25px !important;
        padding:0px;
        
        border-radius: 3px !important;
         
        border: 1px solid #e1e1e1 !important;
        overflow: hidden;
        line-height: 20px;
        background:#fff;
    }
     
</style>
<!--加班申请创建开始-->
<div class="ui-widget-winbor uiwinabs of block pfixed isrequired">
    <div class="toptitle">
        加班申请
    </div>
    <div class="scrollbor pfixed">

        <div class="borderbor of porela xlefttitlebor">
            <i class="pbiconfont poabso mt2" ng-click="overtime.cancel()">&#xe611;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="fl ml23">加班类型：</span>
            <select class="fl" ng-model="apply_param.type">
                <option value="0">请选择</option>
                <option value="1">工作日加班</option>
                <option value="2">节假日加班</option>
            </select>
        </div>

        <div class="borderbor porela timesbor hauto">
            <i class="pbiconfont inblock">&#xe614;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="fl ml23">加班时间 :</span>
            <div class="porela"  >
                
                <input type="text" name="leave_datestart" id="leave_datestart" placeholder="年-月-日" data-toggle="dropdown" myform-date-format class="inputtext timesw noborder" ng-model="apply_param.currentDay" onfocus="this.blur()" readonly="readonly" aria-expanded="false" style="width:100%;     padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;" >
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="apply_param.currentDay" data-datetimepicker-config="{ dropdownSelector: '#leave_datestart', startView: 'day', minView: 'day' }"></datetimepicker>
                </ul>
               
                
            </div>

            <div>
                <label class="iskday">
                    <input type="checkbox" name="isNextDay" ng-model="apply_param.isNextDay"> 是否跨天
                </label>
            </div>
            <div>
                <div class="overtime-timeWrap">
                    <input type="text" onfocus="(this.type='time')" name="overtime_beginTime" ng-model="apply_param.begin_time_str" placeholder="时:分" class="xtxt"/>
                    <i  >-</i>
                    <input type="text" onfocus="(this.type='time')" name="overtime_endTime" ng-model="apply_param.end_time_str" placeholder="时:分" class="xtxt"/>
                </div>
            </div>
            <!-- <span class="fl">——</span>
            <div class="porela inblock fl">

                <input type="text" name="leave_dateend" id="leave_dateend" placeholder="年-月-日 时:分" data-toggle="dropdown" myform-date-format class="inputtext timesw noborder" ng-model="apply_param.end_time" onfocus="this.blur()" readonly="readonly" aria-expanded="false">
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="apply_param.end_time"  data-datetimepicker-config="{ dropdownSelector: '#leave_dateend', startView: 'day', minView: 'minute' }"></datetimepicker>
                </ul>

            </div> 
            <span class="clear">&nbsp;</span>-->
            
            <!-- <div class="addworktipsbor">
                   如有加班跨天的情况，加班结束时间选择当日23:55，系统会根据加班的最后打卡时间来统计加班时长。对于加班跨天且未打卡的情况，加班最后打卡时间请选择次日零点，且在备注中说明加班结束时间。
            </div> -->
        </div>

        <div class="borderbor porela maxtextareasbor nomb">
            <i class="pbiconfont poabso mt2">&#xe63c;</i>
            <span class="widget-required" style="display: inline;">*</span>
            <span class="ml23">工作说明：</span>
            <textarea ng-model="apply_param.note" name="textarea" id="textarea" class="pb_textareas noborder" placeholder="请输入工作说明(最多输入100个字)"></textarea>
        </div>

    </div>
    <div class="btnbor poabso nobor">
        <div class="btnsbor">
            <button class="btns" ng-click="overtime.doSubmit()">提交</button>
            <!-- <button class="btns gray" ng-click="overtime.cancel()">取消</button> -->
        </div>
    </div>
</div>
<!--加班申请创建结束-->