<!--请假详情 审批详情-->
<ng-include src="'appnews/modules/apply/view/leave_apply_detail.html'" ></ng-include>
<!--请假申请最后一步同意窗口-->
<ng-include src="'appnews/modules/apply/view/leave_apply_last_step_win.html'" ></ng-include>
<!--请假申请审批同意窗口-->
<ng-include src="'appnews/modules/apply/view/leave_apply_verify_win.html'" ></ng-include>
<!--请假申请审批驳回窗口-->
<ng-include src="'appnews/modules/apply/view/leave_apply_refuse_win.html'" ></ng-include>
<!--职称申请详情窗口-->
<ng-include src="'appnews/modules/apply/view/rankDetail_apply.html'" ></ng-include>
<!--忘打卡申请详情窗口-->
<ng-include src="'appnews/modules/apply/view/drainPunchDetail_apply.html'" ></ng-include>
<!--加班申请详情窗口-->
<ng-include src="'appnews/modules/apply/view/overtime_apply_detail.html'" ></ng-include>
<!--弹性上班详情窗口-->
<ng-include src="'appnews/modules/apply/view/flexibleWorkDetail_apply.html'" ></ng-include>
<!--自定义表单详情-->
<ng-include src="'appnews/modules/apply/view/apply_custom_detail.html'" ></ng-include>