<!--请假详情 审批详情-->
<ng-include src="'appnews/modules/apply/view/leave_apply_detail.html'" ></ng-include>
<!--加班详情-->
<ng-include src="'appnews/modules/apply/view/overtime_apply_detail.html'" ></ng-include>

<!--职级详情-->
<ng-include src="'appnews/modules/apply/view/applyRank_detail.html'" ></ng-include>

<!--忘打卡详情-->
<ng-include src="'appnews/modules/apply/view/applyDrainDetail.html'"></ng-include>

<!--弹性工作详情-->
<ng-include src="'appnews/modules/apply/view/flexibleDetailWork.html'"></ng-include>

<ng-include src="'appnews/modules/apply/view/applyDrain_edit.html'" ></ng-include>
<!--自定义表单详情-->
<ng-include src="'appnews/modules/apply/view/apply_custom_detail.html'" ></ng-include>
