<!--积分榜开始-->
<div class="module-wrap fl">
    <div class="common-head">
        <i class="iconfont">&#xe61f;</i>
        <p class="inblock score-module">
            <span class="score-active">土豪榜</span><span>积分晋升榜</span>
        </p>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span class="rank">1</span>
                <span>罗白白</span>
                <span class="col-gray fr margin-top">共积分 <span class="col-red">920020</span></span>
            </li>
            <li>
                <span class="rank opa8">2</span>
                <span>罗白白</span>
                <span class="col-gray fr margin-top">共积分 <span class="col-red">920020</span></span>
            </li>
            <li>
                <span class="rank opa7">3</span>
                <span>罗白白</span>
                <span class="col-gray fr margin-top">共积分 <span class="col-red">920020</span></span>
            </li>
            <li>
                <span class="rank opa6">4</span>
                <span>罗白白</span>
                <span class="col-gray fr margin-top">共积分 <span class="col-red">920020</span></span>
            </li>
        </ul>
    </div>
    <ng-include src="'appnews/modules/common/view/templet/scoreboard.html'" ></ng-include>
</div>
<!--积分榜结束-->

<!--工作报告审阅开始-->
<div class="module-wrap fl none">
    <div class="common-head">
        <i></i>
        <span class="f16">工作报告审阅</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span>王五提交了工作报告</span>
                <span class="col-gray fr">2015-09-24 <span class="col-gray">待审阅</span></span>
                <!--<span class="col-gray fr">2015-09-24 <span class="col-blue">已审阅</span></span>-->
            </li>
        </ul>
    </div>
</div>
<!--工作报告审阅开始-->

<!--用户调研开始-->
<div class="module-wrap none fl">
    <div class="common-head">
        <i></i>
        <span class="f16">用户调研</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span> <span class="new">NEW</span> OA用户调研</span>
                <span class="col-blue fr">进行中</span>
                <!--<span class="col-gray fr">已结束</span>-->
            </li>
        </ul>
    </div>
</div>
<!--用户调研结束-->

<!--申请待办开始-->
<div class="module-wrap fl none">
    <div class="common-head">
        <i class="iconfont">&#xe601;</i>
        <span class="f16">申请待办</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span>王五提交了请假申请</span>
                <span class="col-gray fr">待审批</span>
                <!--<span class="col-sgreen fr">已审批</span>-->
            </li>
        </ul>
    </div>
</div>
<!--申请待办结束-->

<!--我的申请开始-->
<div class="module-wrap none fl">
    <div class="common-head">
        <i class="iconfont">&#xe617;</i>
        <span class="f16">我的申请</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span>请假申请</span>&nbsp;&nbsp;
                <span class="fr"><span class="col-gray">当前处理人：</span><span>张三</span></span>
                <!--<span class="col-green fr">已审批通过</span>-->
                <!--<span class="col-red fr">已审批驳回</span>-->
            </li>
        </ul>
    </div>
</div>
<!--我的申请结束-->

<!--我的任务开始-->
<div class="module-wrap fl none">
    <div class="common-head">
        <i class="iconfont">&#xe61b;</i>
        <span class="f16">我的任务</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span>直面暗影，找寻真理</span>&nbsp;&nbsp;
                <span class="tips1 red inblock">指派任务</span>
                <!--st1待接受，st2进行中-->
                <span class="task-state st1 fr">待接受</span>
            </li>
            <li>
                <span>我用双手，成就你的梦想</span>&nbsp;&nbsp;
                <span class="tips1 blue inblock">悬赏任务</span>
                <!--st1待接受，st2进行中-->
                <span class="task-state st2 fr">进行中</span>
            </li>
        </ul>
    </div>
</div>
<!--我的任务结束-->

<!--我的工作开始-->
<div class="module-wrap fl">
    <div class="common-head">
        <i class="iconfont">&#xe61a;</i>
        <span class="f16">我的工作</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span class="new">NEW</span>
                <span>直面暗影，找寻真理</span>
                <span class="fr st1">09:35</span>
            </li>
            <li>
                <span>我用双手，成就你的梦想</span>
                <span class="fr st1">2016-07-25 17:33</span>
            </li>
        </ul>
    </div>
</div>
<!--我的工作结束-->

<!--我的考勤开始-->
<div class="module-wrap fl">
    <div class="attend-head">
        <div class="fl f18">
            <p>我的考勤</p>
        </div>
        <div class="fl">
            <p>
                <i></i>
                <span class="f22 bold">2016-06-08</span>
                <i></i>
            </p>
            <p>（今天）</p>
        </div>
    </div>
    <div class="atten-time">
        <p class="inblock">
            上班打卡 <br/>
            <span>08:59:34</span>
        </p>
        <p class="inblock">
            下班打卡 <br/>
            <span>--:--:--</span>
        </p>
        <div class="time-bar porela">
            <b></b>
        </div>
    </div>
    <div class="atten-bottom">
        <i></i>
        <span>今天没有迟到哦，继续努力吧！</span>
    </div>
</div>
<!--我的考勤结束-->

<!--项目开始-->
<div class="module-wrap fl">
    <div class="common-head pro-head">
        <i class="iconfont">&#xe61c;</i>
        <span class="f16">项目</span>
        <span class="fr iconfont iconfont-small">&#xe61d;</span>
    </div>
    <div class="pro-progress">
        <div class="banner">
            <ul>
                <li class="fl">
                    <div class="porela canvas-wrap">
                        <div class="poabso canvasbg"></div>
                        <canvas ng-bind="index.draw($index,100,50)" height="150" width="150"></canvas>
                        <div class="poabso canvas-num">
                            <span>64</span>
                            <i class="f22">%</i>
                        </div>
                    </div>
                    <p class="pro-til">OA项目二期</p>
                </li>
                <li class="fl">
                    <div class="porela canvas-wrap">
                        <div class="poabso canvasbg"></div>
                        <canvas ng-bind="index.draw($index,100,50)" height="150" width="150"></canvas>
                        <div class="poabso canvas-num">
                            <span>64</span>
                            <i class="f22">%</i>
                        </div>
                    </div>
                    <p class="pro-til">龙盘一期</p>
                </li>
                <li class="fl">
                    <div class="porela canvas-wrap">
                        <div class="poabso canvasbg"></div>
                        <canvas ng-bind="index.draw($index,100,50)" height="150" width="150"></canvas>
                        <div class="poabso canvas-num">
                            <span>64</span>
                            <i class="f22">%</i>
                        </div>
                    </div>
                    <p class="pro-til">龙盘一期</p>
                </li>
                <li class="fl">
                    <div class="porela canvas-wrap">
                        <div class="poabso canvasbg"></div>
                        <canvas ng-bind="index.draw($index,100,50)" height="150" width="150"></canvas>
                        <div class="poabso canvas-num">
                            <span>64</span>
                            <i class="f22">%</i>
                        </div>
                    </div>
                    <p class="pro-til">龙盘一期</p>
                </li>
                <li class="fl">
                    <div class="porela canvas-wrap">
                        <div class="poabso canvasbg"></div>
                        <canvas ng-bind="index.draw($index,100,50)" height="150" width="150"></canvas>
                        <div class="poabso canvas-num">
                            <span>64</span>
                            <i class="f22">%</i>
                        </div>
                    </div>
                    <p class="pro-til">龙盘一期</p>
                </li>
            </ul>
            <!--<a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="arrowl.png" alt="prev" width="20" height="35"></a>-->
            <!--<a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="arrowr.png" alt="next" width="20" height="37"></a>-->
            <i class="iconfont banner-btnl poabso">&#xe616;</i>
            <i class="iconfont banner-btnr poabso">&#xe616;</i>
        </div>
    </div>
    <div class="pro-sta f16">
        <p>
            进行中 <br/>
            <span class="sta-font">3</span>
        </p>
        <p>
            已超时 <br/>
            <span class="sta-font">0</span>
        </p>
        <p>
            已完成 <br/>
            <span class="sta-font">5</span>
        </p>
    </div>
</div>
<!--项目结束-->

<!--公告开始-->
<div class="module-wrap fl">
    <div class="common-head">
        <i class="iconfont">&#xe619;</i>
        <span class="f16">公告</span>
        <span class="fr">更多</span>
    </div>
    <div class="common-content">
        <ul>
            <li>
                <span class="new">NEW</span>
                <span>直面暗影，找寻真理</span>
                <span class="fr st1">09:35</span>
            </li>
            <li>
                <span>我用双手，成就你的梦想</span>
                <span class="fr st1">2016-07-25 17:33</span>
            </li>
        </ul>
    </div>
</div>
<!--公告结束-->

<!--小模块开始-->
<div class="module-wrap fl none-bg module-fix">
    <ul class="module-small">
        <li>
            <p class="bg-blue"><i class="iconfont ">&#xe618;</i> 工作报告</p>
            <p>汇报一下工作情况吧</p>
        </li>
        <li>
            <p class="bg-green"><i class="iconfont">&#xe617;</i> 发起申请</p>
            <p>请假/报销/设备等申请</p>
        </li>
        <li>
            <p class="bg-ltgreen"><i class="iconfont iconfont-mid">&#xe60a;</i> 创建项目</p>
            <p>创建一个项目</p>
        </li>
        <li>
            <p class="bg-blue"><i class="iconfont iconfont-mid">&#xe60a;</i> 创建任务</p>
            <p>任务创建快捷入口</p>
        </li>
        <!--<li>-->
            <!--<p class="bg-sblue"><i class="iconfont">&#xe605;</i> 会议室预定</p>-->
            <!--<p>开会请提前预定哦！</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<p class="bg-blue bg-yel"><i class="iconfont">&#xe620;</i> 我的同事</p>-->
            <!--<p>查看所有同事</p>-->
        <!--</li>-->
    </ul>
</div>
<!--小模块结束-->

<!--设置弹出框开始-->
<div class="set-pop">
    <div class="set-head">
        <i class="iconfont fl">&#xe607;</i>
        <p class="inblock f16">请选择您要显示在工作台的功能模块</p>
        <i class="iconfont fr set-close">&#xe603;</i>
    </div>
    <div class="set-content">
        <ul class="set-mod">
            <li>
                <p>
                    <i class="iconfont">&#xe61b;</i>
                    <span>我的任务</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe61a;</i>
                    <span>我的工作</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe625;</i>
                    <span>考勤</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe61c;</i>
                    <span>项目</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe619;</i>
                    <span>公告</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe61f;</i>
                    <span>积分榜单</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe626;</i>
                    <span>我的申请</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe627;</i>
                    <span>审批待办</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe628;</i>
                    <span>用户调研</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
            <li>
                <p>
                    <i class="iconfont">&#xe629;</i>
                    <span>工作报告审阅</span>
                    <b class="iconfont">&#xe622;</b>
                </p>
            </li>
        </ul>
        <p class="col-gray f16">快捷通道</p>
        <ul class="set-shortcut">
            <li class="porela">
                <i class="iconfont">&#xe618;</i><br/>
                <span>工作报告</span>
                <b class="iconfont poabso">&#xe622;</b>
            </li>
            <li class="porela">
                <i class="iconfont">&#xe617;</i><br/>
                <span>发起申请</span>
                <b class="iconfont poabso">&#xe622;</b>
            </li>
            <li class="porela">
                <i class="iconfont">&#xe60a;</i><br/>
                <span>创建项目</span>
                <b class="iconfont poabso">&#xe622;</b>
            </li>
            <li class="porela">
                <i class="iconfont">&#xe60a;</i><br/>
                <span>创建任务</span>
                <b class="iconfont poabso">&#xe622;</b>
            </li>
            <li class="porela">
                <i class="iconfont">&#xe605;</i><br/>
                <span>会议室预定</span>
                <b class="iconfont poabso">&#xe622;</b>
            </li>
            <li class="porela">
                <i class="iconfont">&#xe620;</i><br/>
                <span>同事</span>
                <b class="iconfont poabso">&#xe622;</b>
            </li>

        </ul>
    </div>
    <div class="set-bottom">
        <button class="btns blue">确定</button>
        <button class="btns gray set-close">取消</button>
    </div>
</div>
<!--设置弹出框结束-->


































