<!--公共中部开始-->
<div class="mainsbar">

    <!--公共遮罩开始-->
    <!--单层遮罩-->
    <div id="masklayer1"></div>
    <!--多层遮罩-->
    <div id="masklayer2"></div>
    <!--移动端申请遮罩-->
    <div id='mLayer2'></div>
    <!--公共遮罩结束-->

    <!--首页-->
    <div ui-view="indexContent" class="cWrap"></div>
    <!--首页设置-->
    <div ui-view="indexSet" class="cWrap"></div>
 
    <!-- 任务内容视图 -->
    <div ui-view="taskContent" class="cWrap"></div>

    <!-- 项目内容视图 -->
    <div ui-view="projectContent" class="cWrap"></div>

    <!-- 考勤内容视图 -->
    <div ui-view="attendanceContent" class="cWrap"></div>
    
    <!--公告内容视图-->
    <div ui-view="noticeContent" class="cWrap"></div>

    <!--会议室预定视图-->
    <div ui-view="meetingContent" class="cWrap"></div>

    <!-- 用户调研视图 -->
    <div ui-view="surveyContent" class="cWrap"></div>
    
    <!--工作报告视图-->
    <div ui-view="workStatementContent" class="cWrap"></div>
    
    <!--系统管理视图-->
    <div ui-view="systemContent" class="cWrap"></div>

    <!--申请视图-->
    <div ui-view="applyContent" class="cWrap"></div>

    <!--同事视图-->
    <div ui-view="colleagueContent" class="cWrap"></div>
	
	<!--个人信息视图-->
    <div ui-view="personalInfoContent" class="cWrap"></div>

    <!--纳米云-->
    <div ui-view="nanoCloudContent" class="cWrap"></div>

    <!--权限错误提示页-->
    <div ui-view="errorContent" class="cWrap"></div>

    <!--消息视图-->
    <div ui-view="msgContent" class="cWrap"></div>

</div>
<!--公共中部结束-->