<!--任务详情 弹窗 开始-->
<div class="ui-widget-winbor taskdetailwin of block" id="taskDetailPopup" ng-show="detailPopWin">

    <div class="toptitle porela">
        任务详情
        <div class="pointer poabso operlog">
            <i class="pbiconfont poabso">&#xe622;</i>
            <span data-ng-click="taskobj.operationLogPopup(taskDetail.task_id, taskDetail.task_type)">操作日志</span>
        </div>
        <i class="pbiconfont poabso closebtn pointer" ng-click=" taskobj.taskDetailPopup()">&#xe61d;</i>
    </div>

    <div class="toptitle porela none">
        <div class="gobackbtn pointer fl">
            <i class="pbiconfont poabso">&#xe60d;</i>
            <span>返回</span>
        </div>
        <span>审核任务</span>
    </div>

    <div class="scrollbor poabso scroll">

        <div class="borderbor of porela">
            <div class="fl porela titlecells">
                <i class="pbiconfont">&#xe612;</i>
                <span class="ml3">任务类型：</span>
                <span class="sp">悬赏任务</span>
            </div>
            <span class="line1"></span>
            <div class="fl porela titlecells ml15">
                <i class="pbiconfont poabso t3">&#xe623;</i>
                <span class="ml23 wdspacing poabso ">任务状态：</span>
                <!-- 7种状态 -->
                 <span class="texttip sp ml95" data-ng-if="taskDetail.status==5">已关闭</span>
                <!-- <span class="texttip sp">已失效</span> -->
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==0">待发布</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==1">待认领</span>
                <span class="texttip blue ml95" data-ng-if="taskDetail.status==2">已认领</span>
                <span class="texttip red" data-ng-if="taskDetail.is_overtime==1">（已超时）</span>
                <!-- <span class="texttip blue">进行中</span> -->
                <!-- <span class="texttip green">已完成</span> -->
                <!-- <span class="texttip red">已拒绝</span> -->
                <!-- <span class="texttip bluegreen">待审核</span> -->
            </div>
            <span class="line2"></span>
            <div class="fl porela titlecells ml15">
                <i class="pbiconfont">&#xe617;</i>
                任务级别：
                <span class="sp" data-ng-if="taskDetail.task_level==1">高</span>
                <span class="sp" data-ng-if="taskDetail.task_level==2">中</span>
                <span class="sp" data-ng-if="taskDetail.task_level==3">低</span>
            </div>
        </div>

        <div class="borderbor of porela tasktitlebor">
            <i class="pbiconfont fl poabso">&#xe613;</i>
            <span class="ml23 wdspacing poabso">任务标题：</span>
            <div class="inblock break pbc maxtitleof">{{taskDetail.task_title}}</div>
        </div>

        <div class="borderbor porela tasktimebor readtasktimebor">
            <i class="pbiconfont inblock">&#xe614;</i>
            <span class="fl ml23">开始时间：</span>
            <div class="porela inblock fl pbc readtime">
                {{taskDetail.begin_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
            <span class="fl ml15">——</span>
            <i class="pbiconfont inblock">&#xe615;</i>
            <span class="fl ml30">结束时间：</span>
            <div class="porela inblock fl pbc readtime">
                {{taskDetail.end_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
            <span class="clear">&nbsp;</span>

        </div>
        <div class="borderbor of porela tasktitlebor" ng-if="taskDetail.delay_time > 0">
            <i class="pbiconfont fl poabso">&#xe614;</i>
            <span class="ml23 wdspacing poabso">任务延期：</span>
            <div class="inblock break pbc maxtitleof">
                <span>{{taskDetail.begin_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</span> ~ <span>{{taskDetail.end_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <div class="mt5" >
                    <span class="pbcr">延期截至：</span> <span>{{taskDetail.delay_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>
            </div>
        </div>


        <div class="borderbor porela taskxsbor of">
            <i class="pbiconfont poabso mt2">&#xe61e;</i>
            <span class="ml23 wdspacing">悬赏范围：</span>
            <ul class="readul xslistbor inblock of fl" >
                <li ng-repeat="item in taskDetail.range">{{item.org_name}}</li>
            </ul>
        </div>


        <!--<div class="borderbor porela" >-->
        <!--<i class="pbiconfont poabso mt2">&#xe616;</i>-->
        <!--<span class="ml23 wdspacing">分 配 给：</span>-->
        <!--<div class="imgbor40 poabso">-->
        <!--<div class="imgbor fl">-->
        <!--<img src="">-->
        <!--</div>-->
        <!--<div class="name omit fl pbc" ng-repeat="item in taskDetail.applicant">{{item.real_name}}</div>-->
        <!--</div>-->
        <!--</div>-->


        <div class="borderbor porela hauto">
            <i class="pbiconfont poabso mt2">&#xe618;</i>
            <span class="ml23 wdspacing poabso">任务描述：</span>
            <div class="inblock break pbc maxtitleof">{{taskDetail.task_desc}}</div>
        </div>

        <div class="borderbor porela taskfilebor read">
            <i class="pbiconfont poabso mt2">&#xe619;</i>
            <span class="ml23 wdspacing2 poabso">附 件：</span>
            <ul>
                <li class="porela" ng-repeat='item in taskDetail.attachmentInfo'>
                    <i class="poabso icon-{{item.file_type}}"></i>
                    <div class="filename fl omit"><a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">{{item.real_name}}</a></div>
                    <div class="filesize fl omit">{{(item.file_size/1024).toFixed(2)}}kb</div>
                    <div class="time fl ml10">{{item.create_time*1000  | date:'yyyy-MM-dd HH:mm'}}</div>
                    <div class="btn blue fr poabso"><a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">下载</a></div>
                </li>
            </ul>
        </div>

        <div class="borderbor porela taskjnbor of">
            <i class="pbiconfont poabso mt2">&#xe61b;</i>
            <span class="ml23 wdspacing">任务技能：</span>
            <ul class="readul xslistbor inblock of fl">
                <li class="mt2" ng-repeat="item in taskDetail.skillInfo" data-ng-if="item.task_type==2">{{item.skill_name}}</li>
            </ul>
        </div>

        <div class="borderbor porela taskpointbor">
            <i class="pbiconfont poabso mt2">&#xe61a;</i>
            <span class="ml23 wdspacing2">奖 励：</span>
            <span class="surplusPoint pbc"> {{taskDetail.point}} </span> <span class="pbc">纳米币</span>
        </div>



        <!--申请者 开始-->
        <div class="porela borderbor applybor mt15 of" >
            <div class="fl mt15 title">
                <i class="pbiconfont poabso mt2">&#xe616;</i>
                <span class="ml21 wdspacing">申 请 者：</span>
            </div>

            <ul>
                <!--待认领-->
                <li ng-class="{1:'selected'}[item.is_charge]" ng-repeat="item in taskDetail.applicant">
                    <div class="imgbor40">
                        <div class="imgbor fl">
                            <img ng-src="{{item.headImg}}">
                        </div>
                        <div class="name omit fl pbc">{{item.real_name}}</div>
                    </div>
                </li>
                <!--已认领-->
                <!--<li class="selected">-->
                <!--<div class="imgbor40">-->
                <!--<div class="imgbor fl">-->
                <!--<img src="{{item.headImg}}">-->
                <!--</div>-->
                <!--<div class="name omit fl pbc">{{item.real_name}}</div>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
        <!--申请者 结束-->

    </div>

    <div class="btnbor poabso nobor" ng-if="taskobj.type==1">
        <!--悬赏专区-待认领(认领成功)-->
        <div class="btnsbor">
            <button class="btns darkgreen" data-ng-if="taskDetail.is_applied==0 && taskDetail.claim==false && taskDetail.status!=5" ng-click="taskobj.claimTask(taskDetail.task_id);">申请认领</button>
            <!--悬赏专区-已认领-->
            <button class="btns disbled" data-ng-if="taskDetail.is_applied==1 || taskDetail.claim==true">申请认领</button>
        </div>

    </div>
</div>
<!--任务详情 弹窗 结束-->

<!--我发布的-待确认(指派某人弹窗) 开始-->
<div class="ui-widget-winbor surewin of none" id="pointTaskPop">
    <div class="toptitle">
        提示
    </div>
    <div class="tipstitle pbc f16">
        确定此悬赏任务指派给申请人[<span>{{taskobj.pointerName}}</span>]吗?
    </div>
    <div class="btnbor poabso nobor" id="bgf">
        <div class="btnsbor">
            <button class="btns" ng-click="taskobj.pointTask(1)">确定</button>
            <button class="btns gray" ng-click="taskobj.pointTask(2)">取消</button>
        </div>
    </div>
</div>
<!--我发布的-待确认(指派某人弹窗) 结束-->

<ng-include src="'appnews/modules/task/view/task_operation.html'" ></ng-include>


