<!--顶部搜索-->
<div class="w100">
    <div class="pbsearchbor">
        <div class="selectbor porela pronames minscroll" >
            <span ng-click="taskobj.showStatus($event)">
                 <span>{{taskobj.taskProName}}</span>
                 <i class="pbiconfont poabso">&#xe60f;</i>
            </span> 
            <ul class="listbor poabso" id="projectInfo">
                <li><a href="javascript:void(0);" class="omit"  ng-click="taskobj.getSelectPro('','项目')">项目</a></li>
                <li><a href="javascript:void(0);" class="omit" ng-repeat="pro in myObject.proList" data-ng-click="taskobj.getSelectPro(pro.pro_id,pro.pro_name)">{{pro.pro_name}}</a></li>
            </ul>
        </div>
        <div class="selectbor porela">
            <span ng-click="taskobj.showReleaseTaskType($event)">
                 <span>{{taskobj.taskTypeName}}</span>
                 <i class="pbiconfont poabso">&#xe60f;</i>
            </span>
            <ul class="listbor poabso"  id="releaseTaskType">
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseTaskType('类型','')">类型</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseTaskType('指派任务',1)">指派任务</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseTaskType('悬赏任务',2)">悬赏任务</a></li>
            </ul>
        </div>

        <div class="selectbor porela" >
            <span ng-click="taskobj.showReleaseStatusName($event)">
                 <span>{{taskobj.taskStatusName}}</span>
                 <i class="pbiconfont poabso">&#xe60f;</i>
            </span>
            <ul class="listbor poabso" id="releaseTaskStatus">
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('状态','') ">状态</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('待发布','0')">待发布</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('待接受','1')">待接受</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('进行中','2')">进行中</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('待审核','3')">待审核</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('已完成','4')">已完成</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('已拒绝','6')">已拒绝</a></li>
                <li><a href="javascript:void(0);" ng-click="taskobj.selectReleaseStatusName('已关闭','5')">已关闭</a></li>
            </ul>
        </div>

        <div class="selecttimebor porela inblock">
            <input type="text" name="task_searchtime" id="searchstarttime" placeholder="请输入开始时间" data-toggle="dropdown" myform-date-format class="inputtext noborder searchinputtext" ng-model="taskobj.searchstarttime" onfocus="this.blur()" readonly="readonly" aria-expanded="false" >
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="taskobj.searchstarttime" data-datetimepicker-config="{ dropdownSelector: '#searchstarttime', startView: 'day', minView: 'minute' }"></datetimepicker>
            </ul>
        </div>
        <span class="timeline inblock">—</span>
        <div class="selecttimebor porela inblock">
            <input type="text" name="searchendtime" id="searchendtime" placeholder="请输入结束时间" data-toggle="dropdown" myform-date-format class="inputtext noborder searchinputtext" ng-model="taskobj.searchendtime" onfocus="this.blur()" readonly="readonly" aria-expanded="false" >
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="taskobj.searchendtime" data-datetimepicker-config="{ dropdownSelector: '#searchendtime', startView: 'day', minView: 'minute' }"></datetimepicker>
            </ul>
        </div>

        <div class="searchbor porela inblock">
            <div class="searchbors poabso">
                <i class="pbiconfont poabso">&#xe610;</i>
                <input type="text"  ng-model="taskobj.taskTitle" class="inputtext noborder searchinputtext fl" placeholder="请输入任务标题" />
                <div class="btn blue fl" ng-click="taskobj.releaseTaskSearch()">查询</div>
            </div>
        </div>

    </div>
</div>
<!--顶部搜索-->


<!--任务列表-->
<ul class="listWrap clear">
    <li ng-repeat="item in myReleaseTaskList">
        <a href="javascript:void(0);" class="porela" ng-click="taskobj.taskDetail(item.task_id)">
            <div class="title omit fl">
                <span class="ordinal">{{$index+1}}</span>
                <span>{{item.task_title}}</span>
            </div>
            <div class="tips1 red fl" data-ng-if="item.task_type==1">指派任务</div>
            <div class="tips1 blue fl" data-ng-if="item.task_type==2">悬赏任务</div>
            <div class="texttip poabso sp gray" data-ng-if="item.status==0">待发布<span class="texttip red" data-ng-if="item.overtime==1">（已超时）</span>
            </div>
            <div class="texttip poabso sp gray" data-ng-if="item.status==1">待接受<span class="texttip red" data-ng-if="item.overtime==1">（已超时）</span></div>
            <div class="texttip poabso blue" data-ng-if="item.status==2">进行中<span class="texttip red" data-ng-if="item.overtime==1">（已超时）</span></div>
            <div class="texttip poabso bluegreen" data-ng-if="item.status==3">待审核<span class="texttip red" data-ng-if="item.overtime==1">（已超时）</span></div>
            <div class="texttip poabso green" data-ng-if="item.status==4">已完成</div>
            <div class="texttip poabso sp gray" data-ng-if="item.status==5">已关闭</div>
            <div class="texttip poabso red" data-ng-if="item.status==6">已拒绝</div>
            <div class="name fr omit">{{item.real_name}}</div>
            <div class="time fr">{{item.create_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="proname fr omit">{{item.pro_name}}</div>
        </a>
    </li>

</ul>
<!--任务列表-->

<!--分页开始-->
<div paging page-object="page" click-function="taskPaging" ></div>
<!--分页结束-->

<!--任务详情 弹窗 开始-->
<div class="ui-widget-winbor taskdetailwin of block" id="taskDetailPopup" ng-show="detailPopWin" style="z-index: 200">

    <div class="toptitle porela" >
        任务详情
        <div class="pointer poabso operlog">
            <i class="pbiconfont poabso">&#xe622;</i>
            <span ng-click="taskobj.operationLogPopup(taskDetail.task_id)">操作日志</span>
        </div>
        <i class="pbiconfont poabso closebtn pointer" ng-click=" taskobj.taskDetailPopup()">&#xe61d;</i>
    </div>

    <div class="toptitle porela none">
        <div class="gobackbtn pointer fl">
            <i class="pbiconfont poabso">&#xe60d;</i>
            <span>返回</span>
        </div>
        <span>审核任务</span>
    </div>

    <div class="scrollbor poabso scroll">

        <div class="borderbor of porela">
            <div class="fl porela titlecells">
                <i class="pbiconfont">&#xe612;</i>
                <span class="ml3">任务类型：</span>
                <span class="sp" data-ng-if="taskDetail.task_type==1">指派任务</span>
                <span class="sp" data-ng-if="taskDetail.task_type==2">悬赏任务</span>
            </div>
            <span class="line1"></span>
            <div class="fl porela titlecells ml15">
                <i class="pbiconfont poabso t3">&#xe623;</i>
                <span class="ml23 wdspacing poabso ">任务状态：</span>
                <!-- 7种状态 -->
                <!-- <span class="texttip sp">已关闭</span> -->
                <!-- <span class="texttip sp">已失效</span> -->
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==0">待发布</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==1">待接受</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==2">进行中</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==3">待审核</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==4">已完成</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==5">已关闭</span>
                <span class="texttip sp ml95" data-ng-if="taskDetail.status==6">已拒绝</span>
                <span class="texttip red" data-ng-if="taskDetail.status<4 && taskDetail.is_overtime==1">（已超时）</span>
                <!-- <span class="texttip blue">进行中</span> -->
                <!-- <span class="texttip green">已完成</span> -->
                <!-- <span class="texttip red">已拒绝</span> -->
                <!-- <span class="texttip bluegreen">待审核</span> -->
            </div>
            <span class="line2"></span>
            <div class="fr porela titlecells ml15">
                <i class="pbiconfont">&#xe617;</i>
                任务级别：
                <span class="sp" data-ng-if="taskDetail.task_level==1">高</span>
                <span class="sp" data-ng-if="taskDetail.task_level==2">中</span>
                <span class="sp" data-ng-if="taskDetail.task_level==3">低</span>
            </div>
        </div>


        <div class="borderbor of porela taskprobor" ng-if="taskDetail.pro_id>0">
            <i class="pbiconfont fl poabso">&#xe611;</i>
            <span class="ml23 wdspacing poabso">所属项目：</span>
            <div class="inblock break pbc maxtitleof">{{taskDetail.pro_name}}</div>
        </div>

        <div class="borderbor of porela tasktitlebor">
            <i class="pbiconfont fl poabso">&#xe613;</i>
            <span class="ml23 wdspacing poabso">任务标题：</span>
            <div class="inblock break pbc maxtitleof">{{taskDetail.task_title}}</div>
        </div>

        <div class="borderbor porela tasktimebor readtasktimebor">

            <i class="pbiconfont inblock">&#xe614;</i>
            <span class="fl ml23">开始时间：</span>
            <div class="porela inblock fl pbc readtime">
                {{taskDetail.begin_time*1000  | date:'yyyy-MM-dd HH:mm'}}
            </div>
            <span class="fl ml15">——</span>
            <i class="pbiconfont inblock">&#xe615;</i>
            <span class="fl ml30">结束时间：</span>
            <div class="porela inblock fl pbc readtime">
                {{taskDetail.end_time*1000  | date:'yyyy-MM-dd HH:mm'}}
            </div>
            <span class="clear">&nbsp;</span>

        </div>
        <div class="borderbor of porela tasktitlebor" ng-if="taskDetail.delay_time > 0">
        <!--<div class="borderbor of porela tasktitlebor">-->
            <i class="pbiconfont fl poabso">&#xe614;</i>
            <span class="ml23 wdspacing poabso">任务延期：</span>
            <div class="inblock break pbc maxtitleof">
                <!--<span>{{taskDetail.begin_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</span> ~ <span>{{taskDetail.end_time*1000  | date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
                <div class="" >
                    <!--<span class="pbcr">延期截至：</span> -->
                    <span>{{taskDetail.delay_time*1000  | date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
        </div>



        <div class="borderbor porela">
            <i class="pbiconfont poabso mt2">&#xe616;</i>
            <span class="ml23 wdspacing">分 配 给：</span>
            <div class="imgbor40 poabso">
                <div class="imgbor fl">
                    <img ng-src="{{taskDetail.headImg}}">
                </div>
                <div class="name omit fl pbc">{{taskDetail.real_name}}</div>
            </div>
        </div>


        <div class="borderbor porela hauto">
            <i class="pbiconfont poabso mt2">&#xe618;</i>
            <span class="ml23 wdspacing poabso">任务描述：</span>
            <div class="inblock break pbc maxtitleof">{{taskDetail.task_desc}}</div>
        </div>

        <div class="borderbor porela taskfilebor read">
            <i class="pbiconfont poabso mt2">&#xe619;</i>
            <span class="ml23 wdspacing2 poabso">附 件：</span>
            <ul>
                <li class="porela" ng-repeat='item in taskDetail.attachmentInfo' >
                    <i class="poabso icon-{{item.file_type}}"></i>
                    <div class="filename fl omit"><a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">{{item.real_name}}</a></div>
                    <div class="filesize fl omit">{{(item.file_size/1024).toFixed(2)}}kb</div>
                    <div class="time fl ml10">{{item.create_time*1000  | date:'yyyy-MM-dd HH:mm'}}</div>
                    <div class="btn blue fr poabso"><a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">下载</a></div>
                </li>
            </ul>
        </div>

        <div class="borderbor porela taskjnbor of">
            <i class="pbiconfont poabso mt2">&#xe61b;</i>
            <span class="ml23 wdspacing">任务技能：</span>
            <ul class="readul xslistbor inblock of fl">
                <li class="mt2" ng-repeat="item in taskDetail.skillInfo">{{item.skill_name}}</li>
            </ul>
        </div>

        <div class="borderbor porela taskpointbor">
            <i class="pbiconfont poabso mt3">&#xe61a;</i>
            <span class="ml23 wdspacing2">奖 励：</span>
            <span class="surplusPoint pbc"> {{taskDetail.point}} </span> <span class="pbc">纳米币</span>
        </div>


        <!--工作笔记详情 开始-->
        <div class="notebor porela read of block"  data-ng-if="taskDetail.status==3 && (taskDetail.work_note != '' || taskDetail.workNoteFiles.length>0)" ng-show="showCheck">
            <div class="fl notetitlebor">
                <i class="pbiconfont poabso mt2 notebor_i">&#xe627;</i>
                <span class="ml23 wdspacing2 poabso notebor_i_span" >工作笔记：</span>
            </div>
            <textarea name="textarea" disabled class="noborder fl" ng-if="taskDetail.work_note.length > 0">{{taskDetail.work_note}}</textarea>
            <div class="upfilebor taskfilebor fl" data-ng-if="taskDetail.workNoteFiles.length > 0">
                <ul>
                    <li class="porela" ng-repeat='item in taskDetail.workNoteFiles'>
                        <i class="poabso icon-{{item.file_type}}"></i>
                        <div class="filename fl omit"><a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">{{item.real_name}}</a></div>
                        <div class="filesize fl omit">{{item.file_size}}kb</div>
                        <div class="name fl ml10 omit">{{taskDetail.real_name}}</div>
                        <div class="btn blue fr poabso inblock">
                            <a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">
                                <i class="pbiconfont ">&#xe624;</i>
                                <span>下载</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--工作笔记详情 结束-->

        <!--审核结果 开始-->
        <div class="porela borderbor reviewbor mt15" data-ng-if="taskDetail.status==3"  ng-show="showCheck">
            <div class="fl reviewtitlebor poabso">
                <div class="left ml15 mt15 fl">
                    <i class="pbiconfont poabso mt2">&#xe626;</i>
                    <span class="ml23 wdspacing2">审核结果：</span>
                </div>
                <div class="fl ml15 mt15" >
                    <label class="porela pointer of fl selected" id="show_pass" data-ng-click="taskobj.selectPass();">
                        <i class="pbiconfont poabso mt2" ng-show="showPass">&#xe62b;</i>
                        <i class="pbiconfont poabso mt2" ng-show="!showPass">&#xe62c;</i>
                        <span>审核通过</span>
                    </label>

                    <label class="porela pointer of fl" id="show_not_pass"  data-ng-click="taskobj.selectNotPass();">
                        <i class="pbiconfont poabso mt2" ng-show="!showPass">&#xe62b;</i>
                        <i class="pbiconfont poabso mt2"  ng-show="showPass">&#xe62c;</i>
                        <span>审核不通过</span>
                    </label>
                </div>
            </div>
            <!--审核通过 开始-->
            <div class="revieweditbor fl" ng-show="showPass" data-ng-if="taskobj.cookieUid != taskobj.charge">
                <div class="left fl">
                    <div class="zlbor fl">
                        <span class="fl">完成质量</span>
                        <ul id="qualityStar">
                            <li ng-repeat="item in taskobj.starArr" ng-mouseover="taskobj.mouseoverhand(item,'quality',$event)"
                                ng-mouseleave="taskobj.mleavequality('a')"
                                ng-click="taskobj.selectedhand(item,'quality',$event)">
                                <i class="pbiconfont poabso mt2" ng-class="{selected:item==0}">&#xe62d;</i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right fl">
                    <div class="zlbor fl">
                        <span class="fl">完成速度</span>
                        <ul id="speedStar">
                            <li ng-repeat="item in taskobj.starArr" ng-mouseover="taskobj.mouseoverhand2(item,'speed',$event)"
                                ng-mouseleave="taskobj.mleavequality2('a')"
                                ng-click="taskobj.selectedhand(item,'speed',$event)">
                                <i class="pbiconfont poabso mt2 " ng-class="{selected:item==0}">&#xe62d;</i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--审核通过 结束-->

            <!--审核不通过 开始-->
            <div class="revieweditbor fl" ng-show="!showPass">
                <div class="left fl">
                    <div class="nopassbor fl">
                        <span class="fl">请输入原因：</span>
                        <textarea name="textarea" class="noborder poabso fl" placeholder="(最多输入50字)" data-ng-model="taskobj.refuse_reason"></textarea>
                    </div>
                </div>
                <div class="right fl" data-ng-if="1 == taskDetail.task_type">
                    <div class="nopassbor fl">
                        <span class="fl">重新分配给：</span>
                        <div class="imgbor40 poabso" ng-show="selectedMember.u_id>0" style="left: 160px; top: 9px;">
                            <div class="imgbor fl">
                                <img ng-src="{{selectedMember.head_img}}">
                            </div>
                            <div class="name omit fl" ng-bind="selectedMember.real_name"></div>
                            <i class="pbiconfont poabso pointer" ng-click="taskobj.delmember();">&#xe61d;</i>
                        </div>
                        <!--列表开始-->
                        <div class="poabso addbtn1 fpgbtn" ng-mouseenter="taskobj.openSelectedP()"  ng-mouseleave="taskobj.closeSelectedP()">
                            <div class="menbersearchbor minscroll">
                                <div class="searchbg of porela">
                                    <i class="pbiconfont poabso">&#xe610;</i>
                                    <input type="text" class="noborder" placeholder="搜索" ng-keyup="taskobj.allott(1)" ng-model="taskobj.searchMemberRealName" id="searchName"/>
                                </div>
                                <ul>
                                    <li class="pointer" ng-repeat='item in task.groupMembers' ng-click="taskobj.selectMember(item)">
                                        <div class="imgbor fl">
                                            <img ng-src="{{item.head_img}}">
                                        </div>
                                        <div class="name omit fl">
                                            {{item.real_name}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--列表结束-->

                    </div>
                </div>
            </div>
            <!--审核不通过 结束-->

            <!--审核不通过[详情] 开始-->
            <div class="revieweditbor fl " data-ng-if="taskDetail.status>3">
                <!--若有填写重写分配给-->
                <div class="left fl">
                    <div class="nopassbor fl">
                        <span class="fl">请输入原因：</span>
                        <textarea name="textarea" class="noborder poabso fl" disabled >{{taskDetail.reason}}</textarea>
                    </div>
                </div>
                <div class="right fl">
                    <div class="nopassbor fl">
                        <span class="fl">重新分配给：</span>
                        <div class="imgbor40 poabso" >
                            <div class="imgbor fl">
                                <img src="http://www.w3chtml.com/uploadfile/201201/19/6011443968.jpg">
                            </div>
                            <div class="name omit fl">{{}}</div>
                        </div>
                    </div>
                </div>

                <!--若有填写未有重写分配给-->
                <div class="left fl w100nobor">
                    <div class="nopassbor fl">
                        <span class="fl">请输入原因：</span>
                        <textarea name="textarea" class="noborder poabso fl" disabled >{{}}</textarea>
                    </div>
                </div>

            </div>
            <!--审核不通过[详情] 结束-->

        </div>
        <!--审核结果 结束-->

        <ng-include src="'appnews/modules/task/view/task_review.html'" ></ng-include>
    </div>

    <div class="btnbor poabso nobor">
        <!--我发布的-进行中-->
        <div class="btnsbor" data-ng-if="taskDetail.status==2">
            <button class="btns green" data-ng-click="taskobj.editeTask(taskDetail.task_id,taskDetail.task_type)">编辑</button>
            <button class="btns gray" data-ng-click="taskobj.shutDownTask(taskDetail.task_id)">关闭任务</button>
            <!--<button class="btns " data-ng-click="taskobj.showDelay(true)" data-ng-if="taskDetail.is_overtime==1">延期</button>-->
            <button class="btns " data-ng-click="taskobj.showDelay(true)">延期</button>
        </div>

        <!--我发布的 待发布-->
        <div class="btnsbor" data-ng-if="taskDetail.status==0">
            <button class="btns green" data-ng-click="taskobj.editeTask(taskDetail.task_id,taskDetail.task_type)">编辑</button>
            <button class="btns " data-ng-click="taskobj.publishTask(taskDetail.task_id)">发布</button>
            <button class="btns gray" data-ng-click="taskobj.deleteTask(taskDetail.task_id)">删除</button>
        </div>

        <!--我发布的-待接受(关闭任务)-->
        <div class="btnsbor" data-ng-if="taskDetail.status==1">
            <button class="btns green" data-ng-click="taskobj.editeTask(taskDetail.task_id,taskDetail.task_type)">编辑</button>
            <button class="btns gray" data-ng-click="taskobj.shutDownTask(taskDetail.task_id)">关闭任务</button>
        </div>

        <!--我发布的-待审核-->
        <div class="btnsbor" data-ng-if="taskDetail.status==3" ng-show="!showCheck">
            <button class="btns bluegreen" data-ng-click="taskobj.check(true)">审核</button>
        </div>

        <!--我发布的-待审核-->
        <div class="btnsbor" data-ng-if="taskDetail.status==3" ng-show="showCheck">
            <button class="btns" data-ng-click="taskobj.submitViews(taskDetail.task_id)">确定</button>
            <button class="btns gray" data-ng-click="taskobj.check(false)">取消</button>
        </div>

        <!--我发布的-已拒绝-->
        <div class="btnsbor" data-ng-if="taskDetail.status==6">
            <button class="btns green" data-ng-click="taskobj.editeTask(taskDetail.task_id,taskDetail.task_type)">编辑</button>
            <button class="btns gray" data-ng-click="taskobj.shutDownTask(taskDetail.task_id)">关闭任务</button>
        </div>

    </div>

</div>
<!--任务详情 弹窗 结束-->



<!--确定关闭提示 弹窗 开始-->
<div class="ui-widget-winbor surewin of of block" ng-show="pointcloseWin">
     <div class="toptitle">
          提示
     </div>
     <div class="tipstitle pbc f16">
          确定要关闭此任务吗?
     </div>
     <div class="btnbor poabso nobor" id="bgf">
          <div class="btnsbor">
               <button class="btns" ng-click="taskobj.shutDownTaskdata(taskDetail.task_id);">确定</button>
               <button class="btns gray" ng-click="taskobj.shutDownTaskCloseWin();">取消</button>
          </div>
     </div>
</div>
<!--确定关闭提示 弹窗 结束-->




<!--我发布的任务-进行中(延期弹窗) 开始-->
<div class="ui-widget-winbor refusedelaywin" ng-show="showDelay">
    <div class="toptitle">
        提示
    </div>
    <div class="delaybor fl">
        <span class="fl ml20 title pbc">延期时间：</span>
        <div class="porela inblock fl">

            <i class="pbiconfont yqi poabso">&#xe614;</i>
            <input type="text" name="delaytime" id="delaytime" placeholder="" data-toggle="dropdown" myform-date-format class="inputtext tasktime noborder" ng-model="delaytime" onfocus="this.blur()" readonly="readonly" aria-expanded="false" style="text-align: left;">
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="delaytime" data-datetimepicker-config="{ dropdownSelector: '#delaytime', startView: 'day', minView: 'minute' }"></datetimepicker>
            </ul>

        </div>
    </div>
    <div class="tipstitle pbc clear">
        请填写延期任务原因：
    </div>
    <textarea name="textarea" class="noborder fl" placeholder="最多输入50个字" data-ng-model="delay_reason"></textarea>
    <div class="btnbor poabso nobor">
        <div class="btnsbor">
            <button class="btns" data-ng-click="taskobj.delayTask(taskDetail.task_id)">确定</button>
            <button class="btns gray" data-ng-click="taskobj.showDelay(false)">取消</button>
        </div>
    </div>
</div>
<!--我发布的任务-进行中(延期弹窗) 结束-->

<!--无数据提示-->
<div class="tasknodata poabso" ng-if="myReleaseTaskList.length<=0">
    <i class="pbiconfont poabso">&#xe621;</i>
    <div class="f20 bold title1">您还没有负责参与的任务哦！</div>
    <div class="f16 title2">让自己每一天都很明确要推进什么事、计划第二天还要处理的事、这周这月还有哪些事要做！试试创建一个任务吧~</div>
</div>
<!--无数据提示-->
<!--操作日志窗口-->



 


<ng-include src="'appnews/modules/task/view/task_operation.html'" ></ng-include>




<div class="ui-widget-winbor surewin of of block ng-scope" ng-show="deletecloseWin">
     <div class="toptitle">
          提示
     </div>
     <div class="tipstitle pbc f16">
          确定要删除此任务吗?
     </div>
     <div class="btnbor poabso nobor" id="bgf">
          <div class="btnsbor">
               <button class="btns" ng-click="taskobj.deleteTaskgo(taskDetail.task_id);">确定</button>
               <button class="btns gray" ng-click="taskobj.deleteTaskexit();">取消</button>
          </div>
     </div>
</div>
