


<!--悬赏范围选择器start-->
<script type="text/ng-template" id="field_renderer.html">
    <ul style="margin-left: 10px">
        <li ng-repeat="children in children.children"  class="child_li">
            <label>
                <input type="checkbox" class="cbox" data-ng-click="task.selectAllSubGroup2($event,children.org_id)" gname="{{children.org_name}}" gid="{{children.org_id}}" >
                <span>{{children.org_name}}</span>
            </label>
            <span ng-include="'field_renderer.html'"></span>
        </li>
    </ul>
</script>

<!--创建任务开始-->
<div class="ui-widget-winbor taskcreatewin of block">
     <div class="toptitle">
          创建任务
     </div>
     <div class="scrollbor poabso">

           <div class="borderbor of porela">
                <div class="fl porela titlecells">
                     <i class="pbiconfont">&#xe612;</i>
                	   <span class="ml3">任务类型：</span>
                    <select ng-model='task.taskTypeDefaultSelect' ng-change="task.windowselect()"  ng-options='values as values.label for values in task.taskType'></select>
                </div>
                <span class="line"></span>
                <div class="fl porela titlecells ml15">
                     <i class="pbiconfont">&#xe617;</i>
                	   任务级别：
                     <select ng-model='task.levelDefaultSelect'  ng-options='values as values.label for values in task.taskLevel'>
                      </select>
                </div>
           </div>

           <div class="borderbor of porela taskprobor" ng-if="task.taskTypeDefaultSelect.nums == 1">
                <i class="pbiconfont">&#xe611;</i>
                <span class="ml3">所属项目：</span>
               <select ng-model='task.taskProjectSelect' data-ng-click="task.setTaskTimeRange(values)"   ng-options='values as values.pro_name for values in task.allProject'></select>
           </div>

           <div class="borderbor of porela tasktitlebor">
           	    <i class="pbiconfont fl poabso">&#xe613;</i>
                <span class="fl ml23">任务标题：</span>
                <input type="text" class="fl texttitle" ng-model="task.task_title" placeholder="输入任务标题(最多输入50个字)" maxlength="50"/>
           </div>

           <div class="borderbor porela tasktimebor">

                <i class="pbiconfont inblock">&#xe614;</i>
                <span class="fl ml23">开始时间：</span>
                <div class="porela inblock fl">

                     <input type="text" name="task_datestart" id="task_datestart" placeholder="" data-toggle="dropdown" myform-date-format class="inputtext tasktime noborder" ng-model="task.begin_time" onfocus="this.blur()" readonly="readonly" aria-expanded="false" >
                     <ul class="dropdown-menu" aria-labelledby="dLabel">
                         <datetimepicker ng-model="task.begin_time" data-datetimepicker-config="{ dropdownSelector: '#task_datestart', startView: 'day', minView: 'minute' }"></datetimepicker>
                     </ul>

                </div>
                <span class="fl ml15">——</span>
                <i class="pbiconfont inblock">&#xe615;</i>
                <span class="fl ml30">结束时间：</span>
                <div class="porela inblock fl">

                     <input type="text" name="task_dateend" id="task_dateend" placeholder="" data-toggle="dropdown" myform-date-format class="inputtext tasktime noborder" ng-model="task.end_time" onfocus="this.blur()" readonly="readonly" aria-expanded="false">
                     <ul class="dropdown-menu" aria-labelledby="dLabel">
                         <datetimepicker ng-model="task.end_time" data-datetimepicker-config="{ dropdownSelector: '#task_dateend', startView: 'day', minView: 'minute' }"></datetimepicker>
                     </ul>

                </div>

                <span class="clear">&nbsp;</span>

           </div>


           <div class="borderbor porela taskxsbor" ng-if="task.taskTypeDefaultSelect == task.taskType[1]">
                <i class="pbiconfont poabso mt2">&#xe61e;</i>
                <span class="ml23 wdspacing2 poabso">悬赏范围：</span>
                <div class="poabso addbtn2"  data-ng-click="task.openSelecteGroup()" ng-mouseleave="task.closeSelecteGroup()" >

                     <div class="offerbor poabso minscroll">
                          <div class="titles">请选择悬赏范围</div>
                          <div class="nbor">
                               <!--<div class="nbors"> -->
                                    <!--<div class="title">-->
                                         <!--<label>-->
                                            <!--<input type="checkbox" data-ng-click="task.selectAll($event)">-->
                                            <!--<span>全公司</span>-->
                                         <!--</label>-->
                                    <!--</div>-->
                               <!--</div>-->


                                <div class="nbors" ng-repeat="groupTree in task.allGroupsTree">
                                    <div class="title">
                                        <label>
                                            <input type="checkbox" class="cbox" data-ng-click="task.selectAllSubGroup($event,groupTree.org_id)" gname="{{groupTree.org_name}}" gid="{{groupTree.org_id}}"/>
                                            <span>{{groupTree.org_name}}</span>
                                        </label>
                                        <span>
                                            <!--默认向下-->
                                            <i class="pbiconfont poabso" ng-if="groupTree.show==1" ng-click="task.showGroupList($index,0)">&#xe620;</i>

                                            <!--点击向上-->
                                            <i class="pbiconfont poabso" ng-if="groupTree.show==0" ng-click="task.showGroupList($index,1)">&#xe61f;</i>
                                        </span>
                                    </div>
                                    <ul ng-if="groupTree.show==1">
                                        <li ng-repeat="children in groupTree.children" class="second_li">
                                            <label>
                                                <input type="checkbox" class="cbox cbox2" data-ng-click="task.selectAllSubGroup2($event,children.org_id)" gname="{{children.org_name}}" gid="{{children.org_id}}"/>
                                                <span>{{children.org_name}}</span>
                                            </label>
                                            <span ng-include="'field_renderer.html'"></span>
                                        </li>
                                    </ul>
                                </div>




                          </div>
                     </div>

                </div>

                <ul class="xslistbor of">
                    <li ng-repeat="selectGroups in task.selectedGroup" ng-click="task.selectMember(selectGroups)">{{selectGroups.org_name}}</li>
                </ul>
           </div>


           <div class="borderbor porela" ng-if="task.taskTypeDefaultSelect == task.taskType[0]">
                <i class="pbiconfont poabso mt2">&#xe616;</i>
                <span class="ml23 wdspacing">分 配 给：</span>
                <div class="imgbor40 poabso" ng-show="task.selectedMember.u_id>0">
                      <div class="imgbor fl" >
                           <img ng-src="{{task.selectedMember.head_img}}">
                      </div>
                      <div class="name omit fl" ng-bind="task.selectedMember.real_name"></div>
                      <i class="pbiconfont poabso pointer" ng-click="task.delmember();">&#xe61d;</i>
                </div>
                <div class="poabso addbtn1 fpgbtn" data-ng-click="task.openSelectedP()"  ng-mouseleave="task.closeSelectedP()">
                     <div class="menbersearchbor minscroll">
                          <div class="searchbg of porela">
                               <i class="pbiconfont poabso">&#xe610;</i>
                               <input type="text" class="noborder" placeholder="搜索" ng-keyup="task.allott(1)" data-ng-model="task.searchMemberRealName"/>
                          </div>
                          <ul>
                              <li class="pointer" ng-repeat='item in task.groupMembers' ng-click="task.selectMember(item)">
                                  <div class="imgbor fl">
                                       <img ng-src="{{item.head_img}}">
                                  </div>
                                  <div class="name omit fl">
                                       {{item.real_name}}
                                  </div>
                              </li>
                          </ul>
                     </div>
                </div>
           </div>

           <div class="hidebor">


                 <div class="borderbor porela tasktextareasbor">
                      <i class="pbiconfont poabso mt2">&#xe618;</i>
                      <span class="ml23">任务描述：</span>
                      <textarea name="textarea" id="textarea" class="pb_textareas noborder" ng-model="task.task_desc" placeholder="请输入任务描述(最多输入500个字)" maxlength="500"></textarea>
                 </div>

                 <div class="borderbor porela taskfilebor">
                      <i class="pbiconfont poabso mt2">&#xe619;</i>
                      <span class="ml23 wdspacing2 poabso">附 件：</span>
                      <ul>
                          <li class="porela" ng-repeat='item in task.files'>
                              <i class="poabso  icon-{{item.file_type}}"></i>
                              <div class="filename fl omit"><a href="index.php?r=task/task/download&task_att_id={{item.task_att_id}}">{{item.real_name}}</a></div>
                              <div class="filesize fl omit">{{(item.file_size/1024).toFixed(2)}}kb</div>
                              <div class="del fr" ng-click="task.delFiles($index, item.task_att_id)">删除</div>
                          </li>
                      </ul>
                      <div class="btn blue fr poabso"><upload-modal upload-attrs="addFileBtn" att-object="task.files">添加附件</upload-modal></div>
                 </div>

                 <div class="borderbor porela taskjnbor">
                      <i class="pbiconfont poabso mt2">&#xe61b;</i>
                      <span class="ml23 wdspacing2 poabso">任务技能：</span>
                      <div class="poabso addbtn2" data-ng-click="task.openSelecteSkill()"  ng-mouseleave="task.closeSelecteSkill()">
                           <div class="skillbor poabso minscroll">
                                <div class="titles">请选择技能</div>
                                <div class="nbor">

                                     <div class="nbors" ng-repeat='item in task.skillList'>
                                          <div class="title">
                                                <label>{{item.skill_name}}</label>
                                                <span>
                                                    <!--默认向下-->
                                                    <i class="pbiconfont poabso" ng-if="item.show==1" ng-click="task.showList($index,0)">&#xe620;</i>

                                                    <!--点击向上-->
                                                    <i class="pbiconfont poabso" ng-if="item.show==0" ng-click="task.showList($index,1)">&#xe61f;</i>
                                                </span>
                                          </div>
                                          <ul id="skill{{item.skill_id}}" ng-if="item.show==1">
                                              <li ng-repeat='item2 in item.children'>
                                                  <label>
                                                      <input type="checkbox" id="item2.id" ng-click="task.updateSelection($event, item2)">
                                                      <span>{{item2.skill_name}}</span>
                                                  </label>
                                              </li>
                                          </ul>
                                     </div>

                                </div>
                           </div>
                      </div>
                      <ul class="skilllistbor of" >
                          <li ng-repeat='item in task.selecteSkill'>{{item.skill_name}}</li>
                      </ul>
                 </div>

                 <div class="borderbor porela taskpointbor">
                      <i class="pbiconfont poabso mt2">&#xe61a;</i>
                      <span class="ml23 wdspacing2">奖 励：</span>
                      <input type="text" class="inputtext taskpoint noborder" ng-model="task.point" ng-keyup="task.pointkeyup();" />
                      可分配纳米币
                      <div class="surplus">( 剩余<span class="surplusPoint">{{task.leavePoints}}</span>可分配纳米币 )</div>
                 </div>

           </div>
     </div>

     <div class="btnbor poabso hight">
          <div class="morebtn porela">
               <i class="pbiconfont poabso">&#xe61c;</i>
               <span class="poabso">点击补充更多任务信息</span>
          </div>

          <div class="btnsbor">
               <button class="btns green" ng-click="task.createTask(0);">保存草稿</button>
               <button class="btns" ng-click="task.createTask(1);">保存并发布</button>
          </div>

     </div>

</div>
<!--创建任务结束-->
<!--创建任务(继续新建) 弹窗 开始-->
<div class="ui-widget-winbor surewin of" ng-show="taskNotice">
    <div class="toptitle">
        提示
    </div>
    <div class="tipstitle pbc f16">
        新建任务发布成功！
    </div>
    <div class="btnbor poabso nobor" id="bgf">
        <div class="btnsbor">
            <button class="btns" ng-click="taskNotice=!taskNotice;task.goOnCreate()">继续新建任务</button>
            <button class="btns gray" ng-click="task.toMyList()">查看已创建的任务列表</button>
        </div>
    </div>
</div>
<!--创建任务(继续新建) 弹窗 结束-->


<!--创建任务(继续新建) 弹窗 开始-->
<div class="ui-widget-winbor surewin of" ng-show="taskNoticesave">
    <div class="toptitle">
        提示
    </div>
    <div class="tipstitle pbc f16">
        新建任务保存成功！
    </div>
    <div class="btnbor poabso nobor" id="bgf">
        <div class="btnsbor">
            <button class="btns" ng-click="taskNoticesave=!taskNotice;task.goOnCreate()">继续新建任务</button>
            <button class="btns gray" ng-click="task.toMyList()">查看已创建的任务列表</button>
        </div>
    </div>
</div>
<!--创建任务(继续新建) 弹窗 结束-->













